aside.card {
  width: 22rem;

  margin-left: 8rem;

  text-align: center;

  padding: 2.5rem 3.375rem;
}

aside > img {
  margin-bottom: 1.5rem;
}

aside p {
  margin-bottom: 1.75rem;

  font-family: Inter;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
}

aside .button img {
  width: 1.5rem;
  height: 1.5rem;
}

aside .button + .button {
  padding: 0;
  width: 3rem;
  height: 3rem;
}

@media(max-width: 900px) {
  aside.card {
    margin-left: 4rem;
  }
}

@media(max-width: 650px) {
  aside.card {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 3rem;
    padding: 3rem 2.5rem;
    width: 18rem;
  }

  .input-group {
    flex-direction: column;
  }

  .input-wrapper {
    width: 100%;
  }

  .input-wrapper + .input-wrapper {
    margin-left: 0 !important;
    margin-top: 1.5rem;
  }
}

@media(max-width: 511px) {
  .container {
    flex-direction: column;
  }

  .container form {
    margin-bottom: 3rem;
  }

  aside.card {
    align-items: center;

    width: 100%;
    margin-left: 0;
  }
}