<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#41414C" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/png" />
    <title>Login</title>

    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/pages/login.css" />
    <link rel="stylesheet" href="/styles/partials/cards.css" />
    <link rel="stylesheet" href="/styles/partials/buttons.css" />
    <link rel="stylesheet" href="/styles/partials/forms.css" />
    <link rel="stylesheet" href="/styles/partials/animations.css" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body id="page-login">
    <div class="container">
      <aside>
        <img src="/images/logo.svg" alt="Logo">
        <p>O JobsCalc é uma aplicação de estimativa de cálculo para projetos freelancer, onde é possível obter uma estimativa de custo de cada projeto e o valor da hora da pessoa que estará usando o sistema.</p>
      </aside>

      <main>
        <div class="card animate-up">
          <form action="" id="form-register">
            <fieldset>
              <legend>Login</legend>
              <div class="separator light"></div>
              
              <div class="input-wrapper">
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" />
              </div>

              <div class="input-wrapper">
                <label for="password">Senha</label>
                <input type="password" id="password" name="password" />
              </div>
            </fieldset>

            <button class="button green" form="form-register" type="submit">Entrar</button>
          </form>

          <div class="separator light"></div>

          <section>
            <p>
              Não possui conta? <a href="/register">Cadastre-se</a>
            </p>
          </section>
        </div>
      </main>
    </div>
  </body>
</html>